/* ==UserStyle==
@name           Mozaik_Dark
@namespace      https://github.com/Adaoh2/MozaikPortail_Dark
@version        1.1.1
@description    A dark theme for Mozaik Portail
@author         Adaoh
==/UserStyle== */
@-moz-document url("https://mozaikportail.ca/"),
url("https://portailparents.ca/") {
	:root {
		--bg-color: #080808;
		--fg-bg-color: #0c0c0c;
		--fg-box-color: #111;
		--fg-color: #171717;
		--transparent-border: #0000;
	}

	[data-espace-travail="selection"] section {
		background-color: var(--fg-bg-color);
		border-radius: 10px;
	}
	[data-espace-travail="selection"] .ressources .ressource a {
		color: #cacaca;
	}
	[data-espace-travail="selection"] .espacesTravail .espaceTravail a,
	[data-espace-travail="selection"] .ressources .ressource a {
		box-shadow: 2px 2px 4px #151515;
		border-radius: 10px;
	}

	html,
	body {
		color: #fff;
	}
	body:not([data-version]) > div {
		background-color: var(--bg-color);
	}

	body[data-version]:not(.accueil) {
		background-color: var(--bg-color);
	}
	body[data-version]:not(.accueil) > div > header + div > .contenu {
		background-color: var(--bg-color);
	}
	* {
		outline-color: #496882;
	}
	.d-conteneur {
		background-color: var(--bg-color);
	}
	.section {
		background-color: var(--fg-bg-color);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	/* ------- front page updates ------- */
	.iconeRegroupement__messages, .iconeRegroupement__derniersResultats, .iconeRegroupement__travailSemaine {
    border-radius: 100px;
	}
	.grilleHoraire__entete--journee .grilleHoraire--aujourdhui {
    border-radius: 10px;
}

	/* ----onglets ma vie scolaire etc---- */
	/* Ma vie scolaire */
	[data-control="outilOnglets"].menuEleve [data-valeur="maVieScolaire"].actif {
		border-top-left-radius: 10px;
	}
	[data-control="outilOnglets"].menuEleve [data-valeur="maVieScolaire"]:hover {
		border-top-left-radius: 10px;
	}
	/* background of tabs */
	[data-control="outilOnglets"].menuEleve ul {
		background-color: var(--bg-color);
	}

	/* ressources */
	[data-control="outilOnglets"].menuEleve [data-valeur="mesRessources"].actif {
		border-top-right-radius: 10px;
	}
	[data-control="outilOnglets"].menuEleve [data-valeur="mesRessources"]:hover {
		border-top-right-radius: 10px;
	}


	/*#region Thème*/
	.tuile__corps {
		background-color: #f5f5f5;
		border-color: #f5f5f5;
	}
	/*#endregion*/
	.listeTuiles {
		background-color: var(--bg-fg-color);
	}

	/*#region theme */
	/*Couleurs par défaut*/
	.activiteCalendrier {
		border: 1px solid var(--transparent-border);
		border-top: 3px solid #0073cf;
		background-color: var(--fg-color);
		border-radius: 10px;
	}
	.activiteCalendrier--tache {
		border-style: dashed;
		background-color: #f0f0f0;
	}
	.grilleHoraire__plages--journee .grilleHoraire--aujourdhui {
		background-color: var(--fg-box-color);
	}
	.grilleHoraire__plages--journee td:nth-child(2n+3):not(.grilleHoraire--aujourdhui) {
    background-color: var(--fg-box-color);
}
	/*#endregion*/
	.publicationEleve {
		background-color: var(--fg-color);
		border-radius: 10px;
	}
	.unResultatTravail__objectifTravail {
		color: #a5a5a5;
	}
	.unResultatTravail__titreTravail > span {
		color: #ffffff;
	}
	.publicationEleve__expediteur {
		color: #ffffff;
	}
	.maVieScolaire__vue .detail__horaire,
	.maVieScolaire__vue .detail__resultat,
	.maVieScolaire__vue .detail__travailSemaine,
	.maVieScolaire__vue .detail__message {
		border: 1px var(--transparent-border) solid;
		background-color: var(--fg-box-color);
		border-radius: 10px;
	}
	.tuile__corps {
		background-color: var(--fg-color);
		border-color: var(--fg-color);
	}
	.smpGroupeDonnees.smpBlanc {
		background-color: #ffffff00;
	}
	.smpGroupeDonnees {
		border: #ffffff00;
		display: inline-block;
		margin-top: .55em;
		/* Pour réserver l'espace pour le titre */
		padding: 15px 10px 10px 15px;
		position: relative;
	}
	[data-control="outilPanneaux"][data-premier-fixe="true"] .panneau:first-child {
		background-color: #fff0;
	}
	.listeCours__item > a {
		color: #ffffff;
	}
	.listeCours__item {
		background-color: var(--fg-color);
		border-left: 10px solid #0073cf;
		border-radius: 10px;
	}
	.listeCours__item:hover {
		background-color: #282828;
	}
	.boite {
		border-color: var(--transparent-border);
		border-width: 1px;
		border-style: solid;
		background-color: var(--fg-box-color);
		border-radius: 10px
	}
	.boite--sansTitre {
		border-top-width: 1px;
	}
	.infoPonctuelle__detail {
		background-color: var(--fg-color);
	}
	.mesBulletins_anneeSectionOuvrable .mesBulletins__titre {
		background-color: #202020;
		border-radius: 10px;
	}
	[data-control="datePicker"] .datePicker__popup {
		background-color: #1f1f1f;
		border: solid 1px #0073cf;
		box-shadow: inset 0 0 0 1px #0073cf;
	}
	.zoomGrilleHoraire {
		border: solid 2px #0073cf;
		background-color: #2b2b2b;
	}
	.boite__titre {
		background-color: #0073cf;
	}
	.historiqueAssiduite__typeAbsence,
	.historiqueAssiduite__typeRetard,
	.historiqueAssiduite__motifValeur,
	.historiqueAssiduite__periodeDesc {
		color: #d4d4d4;
	}
	.historiqueAssiduite__matiere,
	.historiqueAssiduite__horaire,
	.historiqueAssiduite__motifLibelle {
		color: #8a8a8a;
	}
	.dossierEleveAssiduiteStatistique__legende thead th {
		background-color: #0073cf;
	}
	.dossierEleveAssiduiteStatistique__legende tbody th {
		background-color: var(--fg-color);
	}
	table,
	th,
	td {
		border: 1px solid rgba(0, 0, 0, 0);
		background-color: var(--fg-color);
	}
	[data-control="outilOnglets"] nav {
		background-color: #1f1f1f;
		border-bottom: 5px solid #0073cf;
	}
	[data-control="boiteMessage"] {
		background-color: var(--fg-color);
	}
	#appPiedPage > div {
		background-color: var(--fg-box-color);
		color: #cccccc;
	}
	[data-module="gricsSignature"] > div {
		background-color: var(--fg-color);
	}
	[data-modele="modeleUtilisateurProfil"] .profil {
		background-color: var(--fg-bg-color);
		border-radius: 10px;
	}
	[data-control="outilTiroir"][data-option="fermerBasExterieur"] .conteneurBtnFermerBas {
		background-color: #f0f0f000;
	}
	[data-modele="modeleProfilScolaire"] .profilScolaire {
		background-color: var(--bg-fg-color);
	}
	.grilleHoraire__entete--journee {
		border-bottom: var(--fg-box-color) 5px solid;
	}

	/*------------------------ menu déconnexion ----------------------- */
	[data-modele="modeleUtilisateurConnexion"] .menu > ul {
		background-color: var(--fg-box-color);
		border: 1px solid var(--transparent-border);
		border-radius: 10px;
		box-shadow: 2px 2px 5px var(--bg-color);
	}
	[data-modele="modeleUtilisateurConnexion"] .menu > ul > li button {
		box-sizing: border-box;
		color: #fff;
	}
	[data-modele="modeleUtilisateurConnexion"] .menu > ul > li button:hover {
		background-color: var(--bg-color);
		border-radius: 10px;
	}
	[data-modele="modeleUtilisateurConnexion"] .menu > ul > li:hover,
	[data-modele="modeleUtilisateurConnexion"] .menu > ul > li button:focus {
		background-color: var(--bg-color);
	}
	[data-modele="modeleUtilisateurConnexion"] .menu > ul > li:last-child {
		border-top: 1px solid var(--transparent-border);
	}
	div#deconnexion > ul > li button {
		color: red;
	}
	/*----------------------- page connexion -------------------------*/
	[data-module="mozaikBanniere"].inverse .contenantBaniere,
	.scolaire [data-module="mozaikBanniere"].inverse .contenantBaniere,
	.pedago [data-module="mozaikBanniere"].inverse .contenantBaniere,
	.admin [data-module="mozaikBanniere"].inverse .contenantBaniere {
		background-color: var(--bg-color);
	}
	body.accueil {
		background-color: var(--bg-color);
	}
	[data-module="mozaikBanniere"] .contenantBaniere {
    background-color: var(--fg-color);

}

	/*----------- chargement -----------*/
	#contenu > .smpTraitementEnCours {
		background-color: var(--bg-color);
	}
}
